body {
    justify-content: center;
    text-align: center;
}

header {
    background-color: var(--verde-oscuro);
    color: var(--beige);
    padding: 20px;
    width: 100%;
    justify-content: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

header h2 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

main h1 {
    color: var(--verde-oscuro);
    font-size: 3em;
    width: 70%;
    font-weight: bold;
    margin: auto;
}

main p {
    color: var(--marron);
    font-size: 1.2em;
    width: 70%;
    margin:auto;
    
}

section {
    background-color: var(--azul-oscuro);
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--azul-oscuro); 
    width: 80%;
    max-width: 350px;
    padding: 30px;
    margin: auto;
}
 
section p {
    justify-content: center;
    color: var(--amarillo);
    width: 100%;
}

button {
    background-color: var(--amarillo);
    color: var(--azul-oscuro);
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 10px;
}

button:hover {
    background-color: var(--blanco-agua);
    color: var(--azul-oscuro);
    box-shadow: 0 0 8px 2px var(--amarillo);

}


/* Estilos Responsive */
@media (max-width: 768px) {
    header img {
        width: 80px;
        /* margin-right: 10px; */
    }

    /* main h1 {
        font-size: 2.5em;
    }

    main p {
        font-size: 1em;
        margin-bottom: 20px;
    } */

    section {
        padding: 20px;
        width: 80%;
    }
/* 
    button {
        padding: 12px;
        font-size: 1em;
    } */
}

/* @media (max-width: 480px) {
    header h2 {
        font-size: 1em; 
    }

    main h1 {
        font-size: 2em; 
    }

    footer {
        font-size: 1.2em; 
    }
} */
